@charset "UTF-8";
/*
Verde salvia: #A8B8A5
Arena: #D9CDBF
Marrón suave: #A38A75
Crema: #F3EDE4
Texto oscuro: #2B2B2B

*/
h1 {
  font-size: 50px;
  justify-self: center;
  font-weight: bold;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

.card, .main-productos .section-product .section-cardproduct article {
  justify-items: center;
  text-align: center;
  margin: 8px;
  padding: 10px;
  background-color: #bbd9b6;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.4s ease;
}

.card-carrito {
  margin: 10px 4px;
  padding: 5px 4px;
  border-radius: 5px;
  background-color: #bbd9b6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.card-carrito p {
  font-size: 14px;
}

.card-carrito-mensaje {
  margin: 4px 2px 6px 2px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: #bbd9b6;
  font-size: 18px;
  font-weight: bold;
  justify-self: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #052b20;
}

header {
  background-color: #bbd9b6;
  display: flex;
  padding: 2px;
  justify-content: space-between;
  align-items: center;
}
header .header-titulo {
  display: flex;
  align-items: center;
}
header .header-titulo .logo-colibri {
  width: auto;
  height: 4rem;
  padding: 0px 15px 7px 15px;
}
header .header-titulo .titulo {
  font-size: 50px;
  text-decoration: none;
  padding-top: 7px;
}

.header-pages {
  display: flex;
}
.header-pages .boton-registro {
  display: block;
  justify-content: center;
  width: 50%;
  margin: 15px 8px;
  background-color: #A8B8A5;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
  padding: 5px 12px;
}
.header-pages .boton-registro:hover {
  transform: scale(1.05);
}
.header-pages .boton-productos {
  display: block;
  justify-content: center;
  width: 50%;
  margin: 15px 28px;
  background-color: #A8B8A5;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
  padding: 5px 12px;
}
.header-pages .boton-productos:hover {
  transform: scale(1.05);
}
.header-pages .login-icon {
  width: 35px;
  height: 35px;
  padding: 3px;
}
.header-pages .nav-link:hover {
  text-decoration: underline;
}

footer {
  background-color: #bbd9b6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
footer div {
  padding: 1rem;
}
footer div p {
  margin: 0;
}
footer nav ul {
  padding: 1rem;
  display: flex;
  list-style: none;
}
footer .social-icon {
  width: 45px;
  height: 45px;
  padding: 2px;
  margin-right: 15px;
}
footer .social-icon:hover {
  scale: 1.1;
}

.main-productos {
  background-color: #D9CDBF;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1;
  min-height: 100vh;
}
.main-productos .section-product {
  grid-column: 1;
  margin: 6px;
}
.main-productos .section-product .section-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-productos .section-product .section-categorias .boton-categoria {
  display: block;
  justify-content: center;
  width: auto;
  margin: 10px 6px;
  background-color: #A8B8A5;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
  padding: 6px 6px;
  font-size: 20px;
}
.main-productos .section-product .section-categorias .boton-categoria:hover {
  transform: scale(1.05);
}
.main-productos .section-product .section-categorias .boton-categoria.activo {
  background-color: #A38A75;
  font-weight: bold;
}
.main-productos .section-product .section-cardproduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
.main-productos .section-product .section-cardproduct .mensaje-noProductos {
  grid-column: 1/-1;
  margin-top: 30vh;
  justify-self: center;
  align-items: center;
  font-size: 25px;
}
.main-productos .section-product .section-cardproduct article .imagen-producto {
  width: 100%;
  height: auto;
  padding: 2px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.main-productos .section-product .section-cardproduct article .descripcion-producto {
  font-size: 16px;
  margin-bottom: 6px;
}
.main-productos .section-product .section-cardproduct article .variedad-producto {
  width: 100%;
  margin: 10px auto;
  display: block;
  font-size: 20px;
  background-color: #A8B8A5;
}
.main-productos .section-product .section-cardproduct article .precio-producto {
  font-size: 30px;
}
.main-productos .section-product .section-cardproduct article:hover {
  transform: scale(1.05);
}
.main-productos .section-product .section-cardproduct article .boton-agregarCarrito {
  display: block;
  justify-content: center;
  width: 50%;
  margin: 10px 8px;
  background-color: #A8B8A5;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
  padding: 4px 2px;
  font-size: 16px;
}
.main-productos .section-product .section-cardproduct article .boton-agregarCarrito:hover {
  transform: scale(1.05);
}
.main-productos .section-carrito {
  grid-column: 2;
  padding: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0; /* a qué distancia del tope queda fijo */
  height: 100vh; /* ocupa toda la altura de la pantalla */
  overflow-y: auto; /* si el carrito tiene mucho contenido, scrollea internamente */
}
.main-productos .section-carrito .header-carrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px;
}
.main-productos .section-carrito .header-carrito .boton-borrar {
  display: block;
  justify-content: center;
  width: auto;
  margin: 2px 8px;
  background-color: #A8B8A5;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
  padding: 5px 8px;
}
.main-productos .section-carrito .header-carrito .boton-borrar:hover {
  transform: translateY(-2px);
}
.main-productos .section-carrito .body-carrito .card-carrito .p-carrito {
  margin: 4px 2px;
  padding: 0px;
  font-size: 14px;
}
.main-productos .section-carrito .footer-carrito {
  justify-items: center;
}
.main-productos .section-carrito .footer-carrito .boton-enviar {
  display: block;
  justify-content: center;
  width: auto;
  margin: 10px 8px;
  background-color: #A8B8A5;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
  padding: 5px 8px;
}
.main-productos .section-carrito .footer-carrito .boton-enviar:hover {
  transform: translateY(-2px);
}

@media (max-width: 1050px) and (min-width: 600px) {
  .main-productos {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1;
  }
  .main-productos .sidebar {
    display: block;
    grid-column: 1;
  }
  .main-productos .boton-categorias {
    display: none;
  }
  .main-productos .section-product {
    grid-column: 2;
  }
  .main-productos .section-product .section-cardproduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .main-productos .section-product .section-cardproduct .nombre-producto {
    font-size: 20px;
  }
  .main-productos .section-product .section-cardproduct .precio-producto {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  .header .header-titulo .titulo {
    font-size: 32px;
  }
  .main-productos {
    display: flex;
    flex-direction: column;
  }
  .main-productos .sidebar {
    display: none;
  }
  .main-productos .boton-categorias {
    display: block;
    justify-content: center;
    width: 50%;
    margin: 5px;
    background-color: #A8B8A5;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
  }
  .main-productos .section-product .section-cardproduct {
    display: flex;
    flex-direction: column;
  }
  .main-productos .section-product .boton-vermas {
    display: block;
    justify-content: center;
    width: 98%;
    margin: 10px 2px;
    background-color: #A8B8A5;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
  }
}

/*# sourceMappingURL=estilos.css.map */
