h2 {
  font-size: 30px;
}

.card, .main-productos .section-product .section-cardproduct article {
  justify-items: center;
  align-items: center;
  padding: 5px 5px;
  border: 4px rgb(32, 186, 130) solid;
  border-radius: 15px;
  background-color: whitesmoke;
  transition: transform 0.4s ease;
}
.card h3, .main-productos .section-product .section-cardproduct article h3 {
  font-size: 20px;
}

.card-carrito {
  margin: 5px 2px;
  padding: 5px 2px;
  border: 4px whitesmoke solid;
  border-radius: 5px;
  background-color: rgb(129, 200, 208);
}
.card-carrito h4 {
  font-size: 18px;
  font-weight: bold;
}
.card-carrito p {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #052b20;
}

header {
  background-color: rgb(32, 186, 130);
  display: flex;
  padding: 2px;
  justify-content: space-between;
  align-items: center;
}
header .header-titulo {
  display: flex;
  align-items: center;
}
header .header-titulo .logo-colibri {
  width: auto;
  height: 4rem;
  padding: 0px 15px 7px 15px;
}
header .header-titulo .titulo {
  font-size: 44px;
  text-decoration: none;
  padding-top: 7px;
}
header .login-icon {
  width: 35px;
  height: 35px;
  padding: 3px;
}
header .nav-link:hover {
  text-decoration: underline;
}

footer {
  background-color: rgb(32, 186, 130);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div {
  padding: 1rem;
}
footer div p {
  margin: 0;
}
footer nav ul {
  padding: 1rem;
  display: flex;
  list-style: none;
}
footer .social-icon {
  width: 45px;
  height: 45px;
  padding: 2px;
  margin-right: 15px;
}
footer .social-icon:hover {
  scale: 1.1;
}

.main-inicio {
  background-color: rgb(62, 210, 190);
}
.main-inicio .section-bienvenida {
  display: block;
  justify-items: center;
}
.main-inicio .section-bienvenida .bienvenida {
  padding-top: 10px;
}
.main-inicio .section-bienvenida .image-portada {
  width: auto;
  height: 660px;
  padding: 5px;
  display: block;
  justify-items: center;
}
.main-inicio .section-bienvenida .boton-iniciosesion {
  display: block;
  justify-content: center;
  width: 20%;
  margin: 5px;
  background-color: rgb(32, 186, 130);
  border: 1px black solid;
  border-radius: 5px;
  transition: transform 0.4s ease;
  display: block;
}
.main-inicio .section-bienvenida .boton-iniciosesion:hover {
  transform: scale(1.02);
}
.main-inicio .productos-destacados .link {
  text-decoration: none;
}
.main-inicio .productos-destacados .header-PD {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  font-size: 30px;
}
.main-inicio .productos-destacados .contenido-PD {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.main-inicio .productos-destacados .contenido-PD .index-producto {
  width: auto;
  height: 440px;
  padding: 2px;
}
.main-inicio .productos-destacados .contenido-PD article {
  justify-items: center;
}
.main-inicio .productos-destacados .contenido-PD article:hover {
  transform: scale(1.02);
}
.main-inicio .publicaciones-recientes .link {
  text-decoration: none;
}
.main-inicio .publicaciones-recientes .header-PR {
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
}
.main-inicio .publicaciones-recientes .contenido-PR {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.main-inicio .publicaciones-recientes .contenido-PR .index-posteo {
  width: auto;
  height: 260px;
  padding: 2px;
  object-fit: cover;
}
.main-inicio .publicaciones-recientes .contenido-PR article {
  justify-items: center;
}
.main-inicio .publicaciones-recientes .contenido-PR article:hover {
  transform: scale(1.02);
}

.main-productos {
  background-color: rgb(62, 210, 190);
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1;
}
.main-productos .section-product {
  grid-column: 1;
}
.main-productos .section-product .titulo-productos {
  font-size: 28px;
  padding-top: 5px;
  display: block;
  justify-self: center;
}
.main-productos .section-product .section-categorias {
  display: flex;
}
.main-productos .section-product .section-categorias .boton-categoria {
  display: block;
  justify-content: center;
  width: auto;
  margin: 15px 8px;
  background-color: rgb(32, 186, 130);
  border: 1px black solid;
  border-radius: 5px;
  transition: transform 0.4s ease;
  padding: 0px 2px;
  justify-self: center;
}
.main-productos .section-product .section-categorias .boton-categoria:hover {
  transform: scale(1.05);
}
.main-productos .section-product .section-cardproduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin: 10px;
}
.main-productos .section-product .section-cardproduct article .imagen-producto {
  width: 100%;
  height: auto;
  padding: 2px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.main-productos .section-product .section-cardproduct article .nombre-producto {
  font-size: 1rem;
}
.main-productos .section-product .section-cardproduct article .precio-producto {
  font-size: 2rem;
}
.main-productos .section-product .section-cardproduct article:hover {
  transform: scale(1.05);
}
.main-productos .section-product .section-cardproduct article .boton-agregarCarrito {
  display: block;
  justify-content: center;
  width: 50%;
  margin: 15px 8px;
  background-color: rgb(32, 186, 130);
  border: 1px black solid;
  border-radius: 5px;
  transition: transform 0.4s ease;
  padding: 0px 2px;
  justify-self: center;
}
.main-productos .section-product .section-cardproduct article .boton-agregarCarrito:hover {
  transform: scale(1.05);
}
.main-productos .section-product .boton-vermas {
  grid-column: 1/-1;
  display: block;
  justify-content: center;
  width: 90%;
  margin: 15px 8px;
  background-color: rgb(32, 186, 130);
  border: 1px black solid;
  border-radius: 5px;
  transition: transform 0.4s ease;
  justify-self: center;
}
.main-productos .section-product .boton-vermas:hover {
  transform: scale(1.05);
}
.main-productos .section-carrito {
  grid-column: 2;
  margin: 5px 0px;
}

.main-contacto {
  background-color: rgb(62, 210, 190);
  height: 100%;
}
.main-contacto .section-contact {
  padding: 1rem;
}
.main-contacto form {
  display: grid;
  grid-template-columns: 10% 10% 60% 30%;
  grid-template-rows: auto;
  margin: 1rem 2rem;
  gap: 1rem;
}
.main-contacto form .lb-nombre {
  grid-area: 1/2/2/3;
}
.main-contacto form .inp-nombre {
  grid-area: 1/3/2/4;
}
.main-contacto form .lb-email {
  grid-area: 2/2/3/3;
}
.main-contacto form .inp-email {
  grid-area: 2/3/3/4;
}
.main-contacto form .lb-motivo {
  grid-area: 3/2/4/3;
}
.main-contacto form .inp-motivo {
  grid-area: 3/3/4/4;
}
.main-contacto form .lb-consulta {
  grid-area: 4/2/5/3;
}
.main-contacto form .inp-consulta {
  grid-area: 4/3/5/4;
}
.main-contacto form textarea {
  width: auto;
  height: 6rem;
}
.main-contacto form .inp-checkbox {
  grid-area: 5/3/6/4;
}
.main-contacto form .boton-enviar {
  grid-area: 6/3/7/4;
  display: block;
  justify-content: center;
  width: 50%;
  margin: 5px;
  background-color: rgb(32, 186, 130);
  border: 1px black solid;
  border-radius: 5px;
  transition: transform 0.4s ease;
}
.main-contacto .section-mapa {
  padding: 1rem;
}
.main-contacto .section-mapa .mapa {
  width: 800px;
  height: 400px;
  padding: 5px 10px;
}

@media (max-width: 1024px) and (min-width: 600px) {
  .main-inicio .contenido-PD article .index-producto {
    object-fit: cover;
    max-width: 100%;
  }
  .main-inicio .contenido-PR article .index-posteo {
    max-width: 100%;
  }
  .main-productos {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1;
  }
  .main-productos .sidebar {
    display: block;
    grid-column: 1;
  }
  .main-productos .boton-categorias {
    display: none;
  }
  .main-productos .section-product {
    grid-column: 2;
  }
  .main-productos .section-product .section-cardproduct {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .main-productos .section-product .section-cardproduct .nombre-producto {
    font-size: 20px;
  }
  .main-productos .section-product .section-cardproduct .precio-producto {
    font-size: 24px;
  }
  .main-contacto form {
    grid-template-columns: 0% 25% 65% 0%;
    grid-template-rows: 1fr;
    margin: 0px;
  }
  .main-contacto form .boton-enviar {
    display: block;
    justify-content: center;
    width: 80%;
    margin: 2px;
    background-color: rgb(32, 186, 130);
    border: 1px black solid;
    border-radius: 5px;
    transition: transform 0.4s ease;
  }
  .main-contacto .section-mapa .mapa {
    max-width: 100%;
    height: 500px;
  }
}
@media (max-width: 600px) {
  .header .header-titulo .titulo {
    font-size: 32px;
  }
  .main-inicio .section-bienvenida .bienvenida {
    font-size: 18px;
  }
  .main-inicio .section-bienvenida .image-portada {
    width: 100%;
    height: auto;
    padding: 2px;
  }
  .main-inicio .section-bienvenida .boton-iniciosesion {
    display: block;
    justify-content: center;
    width: 60%;
    margin: 5px;
    background-color: rgb(32, 186, 130);
    border: 1px black solid;
    border-radius: 5px;
    transition: transform 0.4s ease;
  }
  .main-inicio .contenido-PD {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
  }
  .main-inicio .contenido-PD article .index-producto {
    object-fit: cover;
    max-width: 100%;
  }
  .main-inicio .contenido-PR {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
  }
  .main-inicio .contenido-PR article .index-posteo {
    max-width: 100%;
  }
  footer {
    flex-direction: column-reverse;
    font-size: 12px;
  }
  footer div {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }
  .main-productos {
    display: flex;
    flex-direction: column;
  }
  .main-productos .sidebar {
    display: none;
  }
  .main-productos .boton-categorias {
    display: block;
    justify-content: center;
    width: 50%;
    margin: 5px;
    background-color: rgb(32, 186, 130);
    border: 1px black solid;
    border-radius: 5px;
    transition: transform 0.4s ease;
  }
  .main-productos .section-product .section-cardproduct {
    display: flex;
    flex-direction: column;
  }
  .main-productos .section-product .boton-vermas {
    display: block;
    justify-content: center;
    width: 98%;
    margin: 10px 2px;
    background-color: rgb(32, 186, 130);
    border: 1px black solid;
    border-radius: 5px;
    transition: transform 0.4s ease;
  }
  .main-contacto form {
    grid-template-columns: 0% 25% 65% 0%;
    grid-template-rows: 1fr;
    margin: 0px;
  }
  .main-contacto form .boton-enviar {
    display: block;
    justify-content: center;
    width: 80%;
    margin: 2px;
    background-color: rgb(32, 186, 130);
    border: 1px black solid;
    border-radius: 5px;
    transition: transform 0.4s ease;
  }
  .main-contacto .section-mapa .mapa {
    max-width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
