
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

// -----------Body pagina inicial-----------

.main-inicio{
    background-color: $color-bg-principal;
    // -------- seccion 1: bienvenida --------- 
    .section-bienvenida{
        display: block;
        justify-items: center;
        .bienvenida{
            padding-top: 10px;
        }
        .image-portada{
            @include dimensionar(auto, 660px, 5px);
            display: block;
            justify-items: center;
        }
        .boton-iniciosesion{
            @include boton(20%, 5px);
            display: block;
            &:hover{
                transform: scale(1.02);
            }
        }
    }

    // -------- seccion 2: productos destacados --------- 
    .productos-destacados{
        .link{
            text-decoration: none;
        }
        .header-PD{
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 10px;
            font-size: $tamano-subtitulo;
        }
        .contenido-PD{
            display: flex;
            gap: 10px;
            margin: 10px;
            .index-producto{
                @include dimensionar(auto, 440px,2px);
            }
            article{
                justify-items: center;
                &:hover{
                    transform: scale(1.02);
                }
            }
        }
    }
        // -------- Seccion 3: posteos recientes -------- 
    .publicaciones-recientes{
        .link{
            text-decoration: none;
        }
        .header-PR{
            font-size: $tamano-subtitulo;
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 10px;
        }
        .contenido-PR{
            display: flex;
            gap: 10px;
            padding: 10px;
            .index-posteo{
                @include dimensionar(auto, 260px, 2px);
                object-fit: cover;
            }
            article{
                justify-items: center;
                &:hover{
                    transform: scale(1.02);
                }
            }
        }
    }
}