
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;


// ----------- Pagina Productos
main{
    background-color: $color-bg-principal;
    display: grid;
    @include grid(80% 20%, 1); 
    min-height: 100vh;  // mínimo toda la pantalla 
    .section-product{
        grid-column: 1;
        margin: 10px;
        .section-categorias{
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            .boton-categoria{
                @include boton(auto, 10px 6px);
                padding: 6px 6px;
                font-size: 20px;
                &:hover{
                    transform: scale(1.05);
                }
                &.activo {
                background-color: #A38A75;
                font-weight: bold;
                }
            }
        }
        .section-cardproduct{
            display: grid;
            @include grid(repeat(5, 1fr), auto);
            .mensaje-noProductos{
                grid-column: 1/-1;
                margin-top: 30vh;
                justify-self: center;
                align-items: center;
                font-size: 25px;
            }
            article{
                @extend .card;
                min-width: 50px;
                .div-nombre{
                    height: 50px;
                    align-content: center;
                    margin: 2px 0px;
                }
                .imagen-producto{
                    @include dimensionar(100%, auto, 2px);
                    aspect-ratio: 1/1; // Relacion de 1:1 en la imagen
                    object-fit: cover;
                }
                .div-descripcion{
                    height: 60px;
                    align-content: center;
                    margin: 1px 0px;
                }
                .descripcion-producto{
                    font-size: 16px;
                    margin-bottom: 6px;
                }
                .variedad-producto{
                    width: 100%;
                    margin: 10px auto; // lo centra horizontalmente 
                    display: block; // necesario para que margin auto funcione
                    font-size: 20px;
                    background-color: $color-bg-boton;
                }
                .precio-producto{
                    font-size: 30px;
                }
                &:hover{
                    transform: scale(1.05);
                }
                .boton-agregarCarrito{
                    @include boton(50%, 15px 0px);
                    padding: 4px 2px;
                    font-size: 16px;
                    &:hover{
                        transform: scale(1.05);
                    }
                };
            }
        } 
    }
    .section-carrito{
        grid-column: 2;
        padding: 8px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
        // Fijar carrito para que siempre este visible
        position: sticky;
        top: 0;          /* a qué distancia del tope queda fijo */
        height: 100vh;   /* ocupa toda la altura de la pantalla */
        overflow-y: auto; /* si el carrito tiene mucho contenido, scrollea internamente */
        .header-carrito{
            display: flex;
            justify-content:space-between;
            align-items: center;
            margin: 6px;
            .boton-borrar{
                @include boton(auto, 2px 8px); 
                padding: 5px 8px;  
                &:hover{
                    transform: translateY(-2px);
                }
            }
        }
        .body-carrito{
            .card-carrito{
                display: grid;
                @include grid(86% 14%, 1);
                .div-info{
                    .p-carrito{
                        margin: 4px 2px;
                        padding: 0px;
                        font-size: $tamano-info-carrito;
                        }
                }
                .div-botones{
                    display: grid;
                    justify-items: center;
                    .boton-eliminar{
                        width: 25px;
                        height: 20px;
                        border-radius: 6px;
                        background-color: $color-bg-boton;
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                    .boton-carrito{
                        width: 30px;
                        height: 25px;
                        border-radius: 6px;
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                    
                }
            }
        }
        .footer-carrito{
            justify-items: center;
            .boton-enviar{
                @include boton(auto, 20px 8px); 
                padding: 5px 8px; 
                &:hover{
                    transform: translateY(-2px);
                }
            }
        }
    }
}