
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;


// ----------- Pagina Productos
.main-productos{
    background-color: $color-bg-principal;
    display: grid;
    @include grid(84% 16%, 1); 
    .section-product{
        grid-column: 1;
        .section-categorias{
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            .boton-categoria{
                @include boton(auto, 15px 8px);
                margin-right: 30px;
                padding: 0px 5px;
                font-size: 22px;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        .section-cardproduct{
            display: grid;
            @include grid(repeat(4, 1fr), auto); 
            article{
                @extend .card;
                .imagen-producto{
                    @include dimensionar(100%, auto, 2px);
                    aspect-ratio:1/1; // Relacion de 1:1 en la imagen
                    object-fit: cover;
                }
                .descripcion-producto{
                    font-size: 18px;
                }
                .precio-producto{
                    font-size: 2rem;
                }
                &:hover{
                    transform: scale(1.05);
                }
                .boton-agregarCarrito{
                    @include boton(50%, 15px 8px);
                    padding: 0px 2px;
                    justify-self: center;
                    &:hover{
                        transform: scale(1.05);
                    }
                };
            }
        } 
    }
    .section-carrito{
        grid-column: 2;
        padding: 8px;
        box-shadow: 0 8px 25px rgba(0,0,0,0.12);
        .header-carrito{
            display: flex;
            justify-content:space-between;
            align-items: center;
            .boton-borrar{
                @include boton(auto, 2px 8px); 
                padding: 5px 8px;  
            }
        }
        .body-carrito{
            .card-carrito{
                    .p-carrito{
                    margin: 4px 2px;
                    padding: 0px;
                    font-size: $tamano-info-carrito;
                    
                }
            }
        }
        .footer-carrito{
            justify-items: center;
            .boton-comprar{
                @include boton(auto, 2px 8px); 
                padding: 5px 8px; 
                margin: 10px;

            }
        }
    }
}