@use "../utilities/variables" as *;

// Creo boton estetico, pudiendo definir su ancho y su margen
@mixin boton($ancho, $margin){
    display: block;
    justify-content: center;
    width: $ancho;
    margin: $margin;
    background-color: $color-bg-boton;
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    // Transicion suave en sus movimientos
    transition: transform 0.4s ease;
}
// Le doy tamaño y padding a las imagenes
@mixin dimensionar($ancho, $alto, $padding){
    width: $ancho;
    height: $alto;
    padding: $padding;
}
// Modo flex para media query
@mixin modo-flex{
        display: flex;
        flex-direction: column;
}
// Creacion de grid 
@mixin grid($column, $row){
    grid-template-columns: $column;
    grid-template-rows: $row;
}