$color-bg-principal: rgb(62, 210, 190);
$color-bg-secundario: rgb(32, 186, 130);
$color-bg-card: whitesmoke;
$color-tipografia:#052b20;

$tamano-titulo:44px;
$tamano-subtitulo:20px;
$tamano-piefoto: 20px;

h2{
    font-size: $tamano-subtitulo;
}
// Creo la estetica de las tarjetas para mis cardproducts
.card{
    justify-items: center;
    align-items: center;
    padding: 5px 5px;
    border: 4px $color-bg-secundario solid;
    border-radius: 15px;
    background-color: $color-bg-card;
    // Transicion suave en sus movimientos
    transition: transform 0.4s ease;
}
