/*
Verde salvia: #A8B8A5
Arena: #D9CDBF
Marrón suave: #A38A75
Crema: #F3EDE4
Texto oscuro: #2B2B2B

*/

$color-bg-principal: #D9CDBF;
$color-bg-secundario: #bbd9b6;  
$color-bg-terceario: #A38A75;
$color-bg-boton: #A8B8A5;
$color-bg-card: #FFFFFF;
$color-tipografia:#052b20;

$tamano-titulo:50px;
$tamano-subtitulo:36px;
$tamano-nombre:22px;
$tamano-nombre-carrito: 18px;
$tamano-info-carrito: 14px;

h1{
// titulo de la pagina (Productos)
    font-size: $tamano-titulo;
    justify-self: center;
    font-weight: bold;
}
h2{
// titulo secundario (Carrito)
    font-size: $tamano-subtitulo;  
    font-weight: bold;  
}
h3{
// (Nombres productos)
    font-size: $tamano-nombre; 
  
}
h4{
// (Nombre de productos en carrito
    font-size: $tamano-nombre-carrito;
    font-weight: bold;
}
// Creo la estetica de las tarjetas para mis cardproducts
.card{
    justify-items: center;
    text-align: center;
    margin: 8px;
    padding: 10px;
    background-color: $color-bg-secundario;   
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    // Transicion suave en sus movimientos
    transition: transform 0.4s ease; 
}
// Creo la estetica de los productos en el carrito
.card-carrito{
    margin: 10px 4px;
    padding: 5px 4px;
    border-radius: 5px;
    background-color: $color-bg-secundario;   
    box-shadow: 0 4px 15px rgba(0,0,0,0.3); 
    p{
        font-size: $tamano-info-carrito;
    }
}
// carrito vacio y total
.card-carrito-mensaje{
    margin: 15px 2px 6px 2px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: $color-bg-secundario; 
    font-size: $tamano-nombre-carrito;
    font-weight: bold;
    justify-self: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3); 
}
