
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

@media (max-width:600px){  
    h1{
        font-size: 34px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 16px;
    }
    header{
        .section-titulo{
            .titulo{
                font-size: 36px;
            }
            .logo-colibri{
                height: 3rem;
            }                
        }
        .seccion-registro{
            margin: 0px 10px;
            padding: 8px;
            font-size: 14px;
            align-items: center;    
        }
    }
    main{
        display: flex;
        .boton-carrito-phone{
            @include boton(auto, 0px);
            background-color: $color-bg-terceario;
            padding: 8px 14px;
            border-radius: 10px;
            align-self: center;
            position: fixed;
            bottom: 20px;
            right:  20px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.6);
            z-index: 100;
        }
        .section-product{    
            .div-titulo{    
                display: flex;
                margin: 4px 10px;    
                justify-content: space-between;
                align-items: center; 
                .div-filtro{
                    text-align: center;
                } 
            }
            .section-categorias{
                .boton-categoria{
                    font-size: 18px;
                    padding: 4px;
                    margin: 4px;
                }
            }
            .section-cardproduct{
                @include grid(repeat(2, 1fr), auto);
                article{
                    .div-nombre{
                        height: auto;
                        margin: 8px;
                    }
                    .div-descripcion{
                        height: auto;
                        margin: 8px;
                    }
                    .variedad-producto{
                        font-size: 14px;
                    }
                }
            }  
        }
        
        .overlay {
            position: fixed;
            inset: 0;                      // cubre toda la pantalla
            background: rgba(0, 0, 0, 0.5); // negro semitransparente
            z-index: 200;
            opacity: 0;
            pointer-events: none;          // invisible = no bloquea clicks
            transition: opacity 0.3s;
            &.visible {
                opacity: 1;
                pointer-events: all;       // visible = bloquea clicks
            }
        }

        .section-carrito{
            z-index: 300; // encima del overlay
            background-color: $color-bg-principal;   
            position: fixed;        // 1. sale del flujo y se superpone
            top: 0;                 // 2. empieza desde arriba
            right: 0;               // 3. pegado a la derecha
            height: 100vh;          // ocupa toda la altura de la pantalla
            transform: translateX(100%);  // empieza fuera de pantalla
            transition: transform 0.3s ease; // animación al deslizar            
            &.abierto{
                transform: translateX(0%);  // ← se desliza adentro
            }
            .body-carrito{
                .card-carrito{
                    @include grid(80% 20%, 1);
                }
            }
        }
    }
}