@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

// QUERYES para tablets ------------------ 
@media (max-width: 1024px) and (min-width: 600px) { 
    h3{font-size: 18px;}
    h4{font-size: 16px;}
    main{
        @include grid(75% 25%, 1); 
        .section-product{
            .section-cardproduct{
                @include grid(repeat(3, 1fr), auto);
                article{
                    .div-descripcion{
                        height: auto;
                        margin: 10px;
                    }
                    .variedad-producto{
                        font-size: 14px;
                    }
                }
            }  
        }
        .section-carrito{
            .body-carrito{
                .card-carrito{
                    @include grid(80% 20%, 1);
                }
            }
        }
    }

}