
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;


// QUERYES para telefono ------------------ 
@media (max-width:600px){  
    // Modificacion del titulo del header
    .header{
        .header-titulo{
            .titulo{
                font-size: 32px;
            }
        }
    }


    // Pagina Productos --------------
    .main-productos{
        @include modo-flex;
        // Saco el aside con las categorias 
       .sidebar{
            display: none;
        }
        // Formato del boton desplegable de categorias 
        .boton-categorias{
            @include boton(50%, 5px);
        }
        // Dispongo un nuevo Layout
        .section-product{
            .section-cardproduct{
                display: flex;
                flex-direction: column;
            }
            .boton-vermas{
                @include boton(98%, 10px 2px);
            }
        }
    }
}