
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

// QUERYES para tablets ------------------ 
//@media (max-width: 1024px) and (min-width: 600px) {
@media (max-width: 1050px) and (min-width: 600px) { 
   
    // Pagina Productos --------------
    .main-productos{
        display: grid;
        @include grid(20% 80%, 1);
        // Saco el aside con las categorias 
       .sidebar{
            display: block;
            grid-column: 1;
        }
        // Formato del boton desplegable de categorias 
        .boton-categorias{
            display: none;
        }
        // Dispongo un nuevo Layout
        .section-product{
            grid-column: 2;
            .section-cardproduct{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: auto;
                .nombre-producto{
                    font-size: 20px;
                }
                .precio-producto{
                    font-size: 24px;
                }
            }  
        }
    }
}