
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

@media (max-width:600px){  
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 16px;
    }
    header{
        .section-titulo{
            .titulo{
                font-size: 34px;
            }
            .logo-colibri{
                height: 3rem;
            }                
        }
        .seccion-registro{
            margin: 0px 10px;
            padding: 8px;
            font-size: 14px;
            align-items: center;    
        }
    }
    main{
        display: flex;
        flex-direction: column;
        .section-product{        
            .div-titulo{
                display: flex;
                justify-content: space-between;
                margin: 2px 10px;
                .boton-carrito-phone{
                    @include boton(auto, 0px);
                    padding: 4px 10px 4px 7px;
                    border: 1px black solid;
                    align-self: center;
                }
            }
            .section-categorias{
                justify-content: left;
                .boton-categoria{
                    font-size: 16px;
                    padding: 4px;
                    margin: 4px;
                }
            }
            .section-cardproduct{
                @include grid(repeat(2, 1fr), auto);
                article{
                    .div-nombre{
                        height: auto;
                        margin: 8px;
                    }
                    .div-descripcion{
                        height: auto;
                        margin: 8px;
                    }
                    .variedad-producto{
                        font-size: 14px;
                    }
                }
            }  
        }
        .section-carrito{
            .body-carrito{
                .card-carrito{
                    @include grid(80% 20%, 1);
                }
            }
        }
    }
}