@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;
header{
    background-color: $color-bg-secundario;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .section-titulo{
        display: flex;
        align-items: center;
        .logo-colibri{
            @include dimensionar (auto, 4.5rem, 0px);
        }
        .titulo{
            font-size: $tamano-titulo;
            font-weight: bold;
        }
    }
    .seccion-registro{
        margin: 0px 20px;
        padding: 8px 12px;
        border-radius: 8px;
        background-color: #A38A75;
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        .boton-registro{
            @include boton(100%, 0px);
            font-size: 18px;
            background-color: $color-bg-terceario;
            box-shadow: none;
            &:hover{transform: scale(1.05);}
        }  
        //boton x al estar registrado
        .boton-borrarRegistro{
            align-self: center;
            border: none;
            border-radius: 6px;
            padding: 3px 6px;
            margin-left: 10px;
            background-color: $color-bg-principal;
        }
    }
}


