
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

header{
    background-color: $color-bg-secundario;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // Dimensiono el lado izquierdo del header 
        .logo-colibri{
            @include dimensionar (auto, 5rem, 0px);
            margin: 5px 0px;
        }
        .titulo{
            font-size: $tamano-titulo;
            font-weight: bold;
            margin-left: 30px
        }
        .seccion-registro{
            margin-right: 80px;
            padding: 5px 15px;
            border-radius: 8px;
            background-color: #A38A75;
            text-align: center;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            .boton-registro{
                @include boton(100%, 0px);
                padding: 2px 5px;
                font-size: 18px;
                background-color: #A38A75;
                box-shadow: none;
                &:hover{
                    transform: scale(1.05);
                }
            }   
            p{
                align-self: center;
                font-size: 16px;
                padding: 6px;
            }
            .boton-borrarRegistro{
                align-self: center;
                border: none;
                font-size: 18px;
                padding: 3px 6px;
                margin-left: 6px;
                background-color: #D9CDBF;
            }

         }
    .nav-link:hover{
        text-decoration: underline;
    }
}