
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;

header{
    background-color: $color-bg-secundario;
    display: flex;
    padding: 2px;
    justify-content: space-between;
    align-items: center;
    // Dimensiono el lado izquierdo del header 
    .header-titulo{
    display: flex;
    align-items: center; 
        .logo-colibri{
            @include dimensionar (auto, 4rem, 0px 15px 7px 15px)
        }
        .titulo{
            font-size: $tamano-titulo;
            text-decoration: none;
            padding-top: 7px;
          }
        }
    }
    .header-pages{
        display: flex;
        .boton-registro{
            @include boton(50%, 15px 8px);
            padding: 5px 12px;
            &:hover{
                transform: scale(1.05);
            }
        }
        .boton-productos{
            @include boton(50%, 15px 28px);
            padding: 5px 12px;
            &:hover{
                transform: scale(1.05);
            }
        }
    // Dimensiones de logo de usuario
    .login-icon{
        @include dimensionar(35px, 35px, 3px);
    }
    
    .nav-link:hover{
        text-decoration: underline;
    }
}